body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.wrapper {
    background: url("./images/background-image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
}

.wrap > .search {
    max-width: 50%;
}

b:last-child {
    display: none;
    color: red;
    background-color: black;
    opacity: .9;
}

hr {
    width: 100%;
    background-color: blueviolet;
}

h1, p {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

p {
    text-align: center;
}

h1:hover {
    background: -webkit-linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 105, 1) 35%, rgba(55, 0, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button > img {
    max-width: 20px;
    max-height: 20px;
}

form {
    display: flex;
    align-items: stretch;
}

input {
    width: 200px;
}

input, button {
    opacity: 0.7;
    background-color: lightcyan;
}

input:focus {
    width: 300px;
    transition-duration: 1s;
}

button:hover {
    scale: 1.1;
    margin-left: 2px;
    transition-duration: 1s;
}

.search, #weatherInfo {
    margin: auto;
}

#weatherInfo {
    flex-direction: column;
    background-color: cornflowerblue;
    opacity: .8;
}

#weatherInfo:hover {
    transition-duration: 1s;
    scale: 1.1;
}

#oops, #weatherInfo {
    border: double blueviolet 5px;
    border-radius: 8px;
    padding: 10px;
    display: none;
    flex-wrap: wrap;
}

#oops > img {
    margin: auto;
    max-width: 200px;
}

#oops > p {
    margin: auto;
    color: black;
}

#oops {
    background-color: palevioletred;
    opacity: .8;
    position: fixed;
    left: calc(50% - 200px);
    justify-content: space-between;
    bottom: 10px;
}

#oops:hover {
    scale: .9;
    transition-duration: 1s;
}

.icon {
    max-width: 50px;
    max-height: 50px;
}

span {
    display: flex;
    flex-wrap: wrap;
}